<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>AD_UNIT_ID_FOR_BANNER_TEST</key>
	<string>ca-app-pub-3940256099942544/2934735716</string>
	<key>AD_UNIT_ID_FOR_INTERSTITIAL_TEST</key>
	<string>ca-app-pub-3940256099942544/4411468910</string>
	<key>CLIENT_ID</key>
	<string>403326275637-r2qlp5turcbj1nd8mn2t22p4vvdmkj46.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.403326275637-r2qlp5turcbj1nd8mn2t22p4vvdmkj46</string>
	<key>API_KEY</key>
	<string>AIzaSyBkGyAEwV2ECm4Sniq30Jfrj1i3vG8eCjg</string>
	<key>GCM_SENDER_ID</key>
	<string>403326275637</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>Andres-Barrios.jobApp</string>
	<key>PROJECT_ID</key>
	<string>job-iosapp</string>
	<key>STORAGE_BUCKET</key>
	<string>job-iosapp.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<true></true>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<false></false>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:403326275637:ios:40e2277f50544619</string>
	<key>DATABASE_URL</key>
	<string>https://job-iosapp.firebaseio.com</string>
</dict>
</plist>